tr:hover {
  background-color: rgba(20, 110, 253, 0.1);
  td {
    background-color: transparent;
  }
}

.card .card-header h5 {
  margin: 0;
}

.table td {
  vertical-align: middle;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
}

.btn-120 {
  min-width: 120px;
}

.clickable-cell {
  cursor: pointer;
}

.clickable-cell .badge {
  cursor: pointer;
}